<div class="text-center">
  <h2>dashboard</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>

  <p>
    <span for="img" aria-label="money">💲</span>
   
    nothing needed
  </p>
  <p>
    <button class="btn btn-primary">Enter my page!</button>
  </p>
</div>
