{{!--  --}}

<div class="row mb-4 project">
  <div class="col-md-7 blog-page">
    {{#each blogs}}
    <div class="blog-content">
      <h1>
        {{title}}
        <span id="date">
      {{date_created}}
        </span>
      </h1>
      <p>
        {{content}}
      </p>
    </div>
    {{/each}}
  </div>
</div>